// editor style


@import "../../src/_editor-style-variables";


// make editor wider

.wp-block {
    max-width: unset !important;
}


// columns (make core style ready for bootstrap style)

// NOTE: please check this style for conflicts or better do not use WP Core Columns, use BSX Columns instead
//.block-editor-inner-blocks {
//    width: 100%;
//}


// ‘is selected’ config panel

.bsxui-isselected-config-panel {
	background: $bsxui-isselected-panel-bg-color; 
	border: $bsxui-isselected-panel-border;
	margin-top: $bsxui-isselected-panel-mt; 
	padding-left: $bsxui-isselected-panel-px;
	padding-right: $bsxui-isselected-panel-px;
}


// image upload

.bsxui-img-upload-placeholder {
	background: $bsxui-placeholder-bg-color;
	padding: 0.5rem;
}
.bsxui-upload-btn-wrapper {
	padding-top: 0.5rem;
	padding-bottom: 0.5rem;
}
.upload-img {
	max-width: 100%;
	height: auto;
}


// wp-looking button (currently not in use)

.bsxui-btn {
	background: $bsxui-area-button-bg-color;
	border: $bsxui-interact-border;
}


// config panel

.bsxui-config-panel-row {
	margin-bottom: $bsxui-margin-bottom;
}

.bsxui-config-panel-img {
	max-width: 100%;
	height: auto;
}

.bsxui-config-panel-text {
	font-size: $bsxui-config-panel-font-size;
}

// clickable img (should not look like a button) 
.bsxui-config-panel-img-button {
    display: block;
    height: auto;
    padding: 0;
    border: 0;
    border-radius: 0;

    &.has-margin-bottom {
    	margin-bottom: $bsxui-small-margin-bottom;
    }
}


// in widget overlay panel

.bsxui-in-widget-overlay-panel {
	position: absolute;
	width: 100%;
	padding: $bsxui-in-widget-overlay-panel-padding;
	text-align: center;

	&.bsxui-top {
		top: 0;
	}

	&.bsxui-bottom {
		bottom: 0;
	}
}


// icon text button list

.bsxui-icon-text-button-list {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	margin-bottom: $bsxui-margin-bottom;

	.bsxui-icon-text-button-list-item {
		display: flex;
		flex-direction: column;
		width: 50%;
		height: auto;
		cursor: pointer;

		&.active {
			color: $bsxui-hover-active-color;
		}

		.bsxui-icon-text-button-list-item-icon {

		}

		.bsxui-icon-text-button-list-item-label {
		
		}
	}
}