// editor style


// banner block and nested editor elements

[data-type="bsx-blocks/banner"] > [class|="banner"].d-flex > .block-editor-inner-blocks {
	display: flex;
	width: 100%;

	& > .block-editor-block-list__layout {
		display: flex;
		width: 100%;
	}
}




[data-type="bsx-blocks/banner"][data-multilayer="parent"] {
	& > [class*="banner-"].multilayer-parent {
		padding-top: 0 !important;
		overflow: hidden;

		& > .block-editor-inner-blocks > .block-editor-block-list__layout {
			position: relative;
		}
	}
}