// editor style



// badge selectors

$bsxui-badge-block-selector:                   '[data-type="bsx-blocks/badge"], [data-type="bsx-blocks/icon"]' !default;


// make badge inline

#{$bsxui-badge-block-selector} {
    display: inline-block;
    vertical-align: top;
    margin-right: 0.25em !important;
}


// resize block list appender

#{$bsxui-badge-block-selector} ~ #{$bsxui-list-appender-selector} {
    display: inline-block;
    width: auto;
    margin-left: 1em;
    margin-top: 2em;
    vertical-align: middle;

    > #{$bsxui-list-appender-button-selector} {
        padding: 2px;
        border-radius: 50%;
        outline: none;
        background: transparent;
    }
}



// checklist

[data-type="bsx-blocks/check-list"] > ul {
    list-style: none !important;

    // fix for WordPress >6.3 breaking checklist structure
    > li.checklist {

        &:before {
          content: unquote("\"#{$bsx-checklist-icon-content}\"");
          //position: absolute;
          font-family: $bsx-checklist-icon-font-family;
          display: inline-block;
          width: $bsx-checklist-indent;
          margin-left: -$bsx-checklist-indent;
          color: $bsx-checklist-icon-color;
          -moz-osx-font-smoothing: grayscale;
          -webkit-font-smoothing: antialiased;
          text-rendering: auto;
          font-weight: $bsx-checklist-icon-font-weight;
        }

        & + li {
          padding-top: $bsx-checklist-item-spacing;
        }

    }
}

